@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q27p6s');
  src:  url('fonts/icomoon.eot?q27p6s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q27p6s') format('truetype'),
    url('fonts/icomoon.woff?q27p6s') format('woff'),
    url('fonts/icomoon.svg?q27p6s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
